.card-container {
    display: flex;
    flex-wrap: wrap;
  }

.card1 {
  /* Add shadows to create the "card" effect */
  display: inline-block;
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 0 10px;
  margin-left: -40px;
  flex: 0 0 100%;
}
.card2 {
    /* Add shadows to create the "card" effect */
    
    width: 200px;
    height: 200px;
    margin: 0 10px;
    margin-top: 40px;
    flex: 0 0 23.1%;
  }

.card3 {
    /* Add shadows to create the "card" effect */
   
    width: 200px;
    height: 200px;
    margin: 0 10px;
    margin-top: 40px;
    margin-left: 80px;
    flex: 0 0 24%;
   
}

.card4 {
    /* Add shadows to create the "card" effect */
    width: 200px;
    height: 200px;
    margin: 0 10px;
    margin-top: 40px;
    margin-left: 80px;
    flex: 0 0 24%;
    margin-bottom: 30px;
}


